@font-face {
  font-family: "CustomFont";
  src: url("../fonts/ZtGathaSemiBold-OVaxA.ttf");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "SassyRaccoon";
  src: url("../fonts/SassyRaccoon-zrXKl.ttf");
  font-weight: bolder;
  font-style: normal;
}

/* body title*/

.navbar-title{
  color: rgb(0, 140, 255);
  font-family: "SassyRaccoon";
  font-size: 35px;
}



body {
    overflow-x: hidden !important
}
body h1 {
  margin-top: 70px;
  font-family: "CustomFont";
  color: rgb(0, 140, 255);
}

body h2 {
  font-family: "CustomFont";
}

body h5 {
  margin-left: 105px;
  font-weight: 400;
  font-size: 18px;
}

body .btn-custom-getstarted {
  margin-left: 150px;
  background-color: rgb(0, 140, 255);
  color: white;
}

body .btn-custom-learn {
  background-color: white;
  color: rgb(0, 140, 255);
  border-color: rgb(0, 140, 255);
}

/*side images*/
.custom-image {
  width: 200px;
  height: 200px;
}



/*line separator babyyyeehh*/
.custom-hr {
  height: 2px;
  background-color: rgb(0, 140, 255);
}

/*featured users card*/

.card-text {
  font-size: 13px;
  color: white;
}

.card-body {
  background-color: rgb(
    0,
    140,
    255
  ); /* Example of a custom color using hexadecimal value */
  color: white; /* Set text color to white for better contrast */
}

.card-body h4 {
  color: white;
}

.icon-sm {
  width: 18px;
  height: 18px;
}


@keyframes scrollRight {
  0% { transform: translateX(100); }
  100% { transform: translateX(-50%); }
}



/* Customized scrollbar ---------------------------------------------*/
.overflow-auto::-webkit-scrollbar-track {
  background-color: transparent;
}
.overflow-auto::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* hover, change scrollbar thumb color */
.overflow-auto::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 140, 255);
}

/*scrollbar buttons */
.overflow-auto::-webkit-scrollbar-button {
  display: none;
}

/*scrollbar width and height */
.overflow-auto::-webkit-scrollbar {
  width: 0px; /* crollbar width */
  height: 0px; /* scrollbar height */
}

.section {
  flex: 1;
  padding: 20px;
}

.section h3 {
  font-size: 18px;
}

.section p {
  font-size: 14px;
}

/*--------YOU ARE SAFE WITH US  area---------*/

.section h3 {
  color: rgb(0, 140, 255);
}







/* Override default margin for navbar---------------------------------*/
.navbar {
  margin-left: 0;
  margin-right: 0;
}
.navbar-nav .nav-link {
  font-size: 20px;
  margin-right: 10px;
}

/* Popup login form ------------------------------------------------*/
.popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 10px;
}
.login-form {
  text-align: center;
}

.login-form .form-label {
  font-size: 16px;
  text-align: left;
  margin-left: 15;
}

.login-form .form-control {
  font-size: 16px;
  margin-bottom: 15px;
}

.login-form .btn-primary {
  font-size: 18px;
  padding: 10px 20px;
}

/* Semi-transparent overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Body content styling */
.body-content {
  padding: 30px;
}

.body-content h1 {
  font-size: 70px;
  margin-bottom: 20px;
}

/*SMALL SCREEN*/
@media (max-width: 768px) {
  .body-content h1 {
    margin-top: 30px;
    font-size: 45px;
    margin-bottom: 20px;
  }



  body h5 {
    margin-top: 30px;
    margin-left: 30px;
    font-weight: 400;
    font-size: 18px;
  }

  body .btn-custom-getstarted {
    margin-left: 60px;
    background-color: rgb(0, 140, 255);
    color: white;
  }

  .hr {
    margin-top: 10px !important;
  }

  body h2 {
    font-size: 20px;
  }

  .section h3 {
    font-size: 15px;
  }
  .section p {
    font-size: 10px;
  }
}
