body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;

/*-----navigation bar-----*/
}
.navbar {
    width: 100%;
    background-image: url("bc1.jpg");
    padding: 2px;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    box-sizing: border-box;
}
.navbar .nav-links {
    display: flex;
    align-items: center;
}
.navbar .nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 23px;
}

.navbar .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.navbar .logo {
    height: 100px;
    width: 100px;
    padding-right: 980px;

/*-----search bar-----*/
}
.search-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #ffffff;
    color: green;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 30px;
}
.search-container input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 300px;
    background-color: rgb(168, 168, 168);
}
.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.page-title {
    font-size: 32px;
    font-family: Arial;
    color: #4195a0;
    text-align: left;
    padding-left: 80px;
    box-sizing: border-box;
}
